root = true

[*]
charset = utf-8
end_of_line = crlf
max_line_length = off
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = false

ij_xml_attribute_wrap = off

ij_typescript_spaces_within_imports = true
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_use_semicolon_after_statement = false
ij_typescript_force_semicolon_style = true
ij_typescript_enforce_trailing_comma = remove
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_if_brace_force = always
ij_typescript_for_brace_force = always
ij_typescript_while_brace_force = always
ij_typescript_do_while_brace_force = always
ij_typescript_spaces_within_if_parentheses = true
ij_typescript_use_path_mapping = always
ij_typescript_import_prefer_absolute_path = true
ij_typescript_var_declaration_wrap = on_every_item
ij_typescript_object_literal_wrap = on_every_item
ij_typescript_object_types_wrap = on_every_item