@font-face {
	font-family: 'v-zhazha120-script';
	src: local('YoZai');
}

@font-face {
	font-family: 'v-zhazha120-sans';
	src: local('Xiaolai'), local('HarmonyOS Sans SC'), local('DingTalk JinBuTi');
}

html {
	@apply text-[12px];
}

body {
	@apply font-[v-zhazha120-sans];
}