@use '@unocss/reset/sanitize/sanitize.css';
@use '@unocss/reset/sanitize/assets.css';

@font-face {
	font-family: 'Yozai';
	src: url('@/assets/fonts/Yozai-Regular.ttf');
	font-display: swap;
}

:root {
	@apply font-sans;
}